 /*
Team name: Fara-Wayland Collection
Contributors: Ben Wayland, Austin Brackney, Aaron Yorke, Jake Powell, Royal Goodsell
Date: 3/23/2026
Sources:
    [1]instructions, [2]course, [3]github, [4]other website
*/

:root {
    --primary-color: #02111b;
    --seconday-color: #FCFCFC;
    --accent-1: #30292F;
    --accent-2: gray;
    --heading-font: "Bagel Fat One";
    --para-font: "Bpmf Huninn";
}

a {
    font-style: var(--heading-font);
}

p {
    font-style: var(--para-font);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#home-nav {
    display: grid;
    text-align: center;
    align-self: center;
    grid-template-columns: repeat(5, 1fr);
    border: 2px solid black;
    background-color: var(--accent-2);
    padding: 10px;
}

#home-nav a {
    text-align: center;
    align-self: center;
    padding: 15px;
    color: var(--primary-color);
    background-color: var(--accent-2);
    text-decoration: none;
}

.brder-right {
    border-right:2px solid black;
}

.logo {
    width: 200px;
}

#hero-img {
    width: 100%;
    max-width: 2000px;
}

#pages {
    display: grid;
    row-gap: 25px;
    margin: 40px;
}

#pages section {
    justify-items: center;
    display: grid;
    grid-template-rows: .7fr 1fr;
    border: solid 2px var(--accent-1);
    padding: 10px 20px 20px;
    row-gap: 10px;
    background-color: var(--accent-2);
}

#pages section a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: larger;
    border: solid 2px var(--accent-1);
    padding: 5px 20px;
}

#pages section p {
    text-align: center;
}

footer {
    margin-top: 10px;
    border: solid 2px var(--accent-1);
    background-color: var(--accent-2);
}

a:hover { 
    opacity: 60%;
    color: var(--seconday-color);
}