/*
Client: Cam Smith
Lead Developer: Aaron Yorke
Junior Developer: William Garcia
Junior Developer: Holden Lederer
*/

#ed-title {
    text-align: center;
}

.ed-desctiption {
    text-align: center;
}

.banner-img {
    width:90%;
    display: flex;
    justify-content: center;
    justify-self: center;
}

.subject {
    background-color: grey;
    border: 3px solid black;
    justify-content: center;
    margin: 5px;
    width: 100%;
    padding: 10px;
}

h2 {
    text-align:center;
}

footer {
    color: grey;
}

p {
    color: black;
}