/*
Client: Cam Smith
Lead Developer: Aaron Yorke
Junior Developer: William Garcia
Junior Developer: Holden Lederer
*/

#ed-title {
    text-align: center;
}

#bob {
    width: 200px;
}

#navi {
    border-right:2px solid black;
}

.ed-desctiption {
    text-align: center;
}

.banner-img {
    width:90%;
    display: flex;
    justify-content: center;
    justify-self: center;
}

.subject {
    background-color: grey;
    border: 3px solid black;
    justify-content: center;
    margin: 5px;
    width: 95%;
    margin: 2.5%;
}

h2 {
    text-align:center;
}

footer {
    background-color: grey;
    border: 3px solid black;
    margin: 4px;
}

p {
    color: black;
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#headerdiv {
    display: grid;
    text-align: center;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: 2px solid black;
    background-color: grey;
    padding: 10px;
}