 /*
Team name: Fara-Wayland Collection
Contributors: Ben Wayland, Austin Brackney, Aaron Yorke, Jake Powell, Royal Goodsell
Date: 3/23/2026
Sources:
    [1]instructions, [2]course, [3]github, [4]other website
*/

:root {
    --primary-color: #02111B;
    --seconday-color: #FCFCFC;
    --accent-1: #30292F;
    --accent-2: #5D737E;
    --heading-font: "Bagel Fat One";
    --para-font: "Bpmf Huninn";
}

#home-nav {
    display: grid;
    grid-template-columns: 200px repeat(5, 1fr);
}

#home-nav .logo{
    margin-right: 100px;
}

#home-nav a {
    text-align: center;
    align-self: center;
    padding: 15px;
    font-style: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent-2);
    text-decoration: none;
}

.logo {
    width: 100%;
}

#hero-img {
    width: 100%;
    max-width: 2000px;
}

#pages section {
    justify-items: center;
    display: grid;
    grid-template-rows: .7fr 1fr;
    border: var(--accent-1);
}

#pages section a {
    font-style: var(--heading-font);
    text-decoration: none;
    font-size: larger;
    border: var(--accent-1);
}

#pages section p {
    font-style: var(--para-font);
    text-align: center;
}

#footer-p {
    font-style: var(--para-font);
}
